= stylesheet_link_tag 'bulutfon_dashboard/bulutfon-fonts'
.panel-heading
  %i.icon-table.icon-large
  = t('tt.index', resource_name: t('activerecord.models.cdr'))
  .panel-tools
    .btn-group
      %a.btn{href: cdrs_path, data: {toggle: 'toolbar-tooltip'}, title: t('view.reload')}
        %i.icon-refresh
    .badge= @cdrs.count
%table.table
  %thead
    %tr
      %td= t('activerecord.attributes.cdr.caller')
      %td= t('activerecord.attributes.cdr.callee')
      %td= t('activerecord.attributes.cdr.direction')
      %td= t('activerecord.attributes.cdr.call_type')
      %td= t('activerecord.attributes.cdr.start_time')
      %td= t('activerecord.attributes.cdr.answer_time')
      %td= t('activerecord.attributes.cdr.hangup_time')
      %td= t('activerecord.attributes.cdr.call_record_exists?')
      %th.actions
        = t('view.actions')
  %tbody
    = render partial: 'bulutfon_dashboard/cdrs/cdr', collection: @cdrs
