- content_for :toolbar do
  - if @resource.present?
    = link_to edit_bulutfon_users_path, class: 'btn btn-default' do
      %i.icon-plus
      = t('view.edit')
    = link_to bulutfon_users_path, method: :delete, class: 'btn btn-warning' do
      %i.icon-trash
      = t('view.destroy')
.panel.panel-default.grid
  .panel-heading
    %i.fa.fa-table.icon-large
    = t('tt.show', resource_name: BulutfonDashboard::BulutfonUser.model_name.human)
  .panel-body
    - if @resource.present?
      = show_for @resource do |s|
        = s.attribute :api_token

    - else
      .alert.alert-warning
        %p
          %h5.center
            Bulutfon kullanıcı ayarları henüz oluşturulmamıştır. Bu menüye erişebilmek için Bulutfon API anahtarınızı tanımlamanız gerekmektedir. Eğer Bulutfon üyesi iseniz kullanıcı panelinizden
            %strong Uygulamalar > API uygulamaları
            menüsünden
            %strong Tekil Api Anahtarınız
            a erişebilirsiniz.

            Eğer bulutfon üyesi değilseniz
            = link_to 'https://app.bulutfon.com/accounts/new', 'https://app.bulutfon.com/accounts/new', target: '_blank'
            adresinden bulutfon üyeliğinizi oluşturabilirsiniz.
          .text-center
            = link_to new_bulutfon_users_path, class: 'btn btn-success' do
              %i.fa.fa-plus
              Tanımla