= stylesheet_link_tag 'bulutfon_dashboard/bulutfon-fonts'

.panel.panel-default.grid
  .panel-heading
    %i.fa.fa-user.fa-lg
    = t('tt.show', resource_name: t('activerecord.models.bulutfon_dashboard/bulutfon_user'))
  .panel-body
    = show_for @user do |s|
      .row-fluid
        .col-lg-4
          = s.attribute :name, label: t('activerecord.attributes.dashboard.name_surname') do
            = @user.user['name']
          = s.attribute :pbx_name, label: t('activerecord.attributes.dashboard.pbx_name') do
            = t("enumerates.domain_state.#{@user.pbx['name']}")
        .col-lg-4
          = s.attribute :balance, label: t('activerecord.attributes.dashboard.balance') do
            = number_to_currency @user.credit['balance']
          = s.attribute :sms_credit, label: t('activerecord.attributes.dashboard.sms_credit') do
            = @user.credit['sms_credit']
        .col-lg-4.text-center
          = link_to t('view.urls.cdrs'), cdrs_path, class: 'btn btn-block btn-primary'
          %hr/
          = link_to t('view.urls.bulutfon_entegration'), bulutfon_users_path, class: 'btn btn-block btn-primary'

.panel.panel-default.grid
  .panel-heading
    %i.icon-table.icon-large
    = t('tt.index', resource_name: t('view.last_cdrs', number: @content_count))
    .panel-tools
      .btn-group
        %a.btn{href: root_path, data: {toggle: 'toolbar-tooltip'}, title: t('view.reload')}
          %i.icon-refresh
      .badge= @cdrs.count
  - if @cdrs.size == 0
    .panel-body
      .alert.alert-warning
        %p= t('activerecord.attributes.cdr.blank')
  - else
    %table.table
      %thead
        %tr
          %td= t('activerecord.attributes.cdr.caller')
          %td= t('activerecord.attributes.cdr.callee')
          %td= t('activerecord.attributes.cdr.direction')
          %td= t('activerecord.attributes.cdr.call_type')
          %td= t('activerecord.attributes.cdr.start_time')
          %td= t('activerecord.attributes.cdr.answer_time')
          %td= t('activerecord.attributes.cdr.hangup_time')
          %td= t('activerecord.attributes.cdr.call_record_exists?')
          %th.actions
            = t('view.actions')
      %tbody
        = render partial: 'bulutfon_dashboard/cdrs/cdr', collection: @cdrs